/* reset */
html {
    font-size: 90%;
    color: #707070;
    height: 100%; /* 세로크기를 전체 화면으로. global-menu를 화면 바닥에 붙이기 위해. */
}
body {
    margin: 0;
    padding: 0;
    line-height: 1;
    height: 100%; /* 세로크기를 전체 화면으로. global-menu를 화면 바닥에 붙이기 위해. */
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
input {
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
}

/* util */
.a-text-button {
    display: block;
    font-weight: normal;
    margin: 1.4rem 0;
}
.block-input {
    display: block;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    color: inherit;
    padding: 0.7rem 0;
    margin-bottom: 0.7rem;
    width: 100%;
}
.button-primary {
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 20px;
    background: #00CB8C;
    color: #fff;
    font-weight: bold;
    margin: 0.7rem 0;
}
.button-secondary {
    width: 100%;
    height: 38px;
    border: 1px solid #00B8BF;
    border-radius: 20px;
    background: #fff;
    color: #00B8BF;
    font-weight: bold;
    margin: 0.7rem 0;
}
.note {
    color: #a2a2a2;
    font-size: 0.5rem;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%; /* 세로크기를 전체 화면으로. global-menu를 화면 바닥에 붙이기 위해. */
}

/* global-menu */
.nav-global-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0.7rem 1rem 0.7rem;
    height: 48px;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 1px 3px 3px 1px #ddd;
    padding: 0 0.5rem;
}
.global-menu {
    border: 0;
    width: 26px;
    height: 22px;
    margin-left: 6px;
    background: url(../images/btn_global_menu.svg) no-repeat;
}
.search {
    border: 1px solid #00EFA5;
    border-radius: 15px;
    height: 30px;
    padding: 0 1rem;
    flex: 1;
    margin: 0 10px;
}
.write {
    border: 0;
    width: 30px;
    height: 30px;
    background: url(../images/btn_write.svg) no-repeat;
}

/* nav-sort */
.nav-sort {
    display: flex;
    justify-content: space-between;
    margin: auto 1.4rem 0.7rem 1.4rem;
    padding-top: 0.7rem;
}

/* twit */
.twits {
    flex: 1; /* 남음 공간을 꽉차게 */
    overflow: auto; /* 트윗에 스크롤 주기 */
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.twit-grid-container {
    display: grid;
    grid-template-areas:
        "twit-user-image twit-user twit-menu"
        "twit-user-image twit-contents twit-contents"
        "twit-user-image twit-tag twit-tag"
        "twit-user-image twit-btns twit-btns";
    margin-bottom: 2rem;
}
.twit-user-image {
    grid-area: twit-user-image;
    margin-right: 6px;
}
.twit-user {
    grid-area: twit-user;
    margin-bottom: 0.5rem;
}
.twit-user-name {
    font-weight: bold;
}
.twit-time {
    margin-left: 0.5rem;
}
.twit-menu {
    grid-area: twit-menu;
    justify-self: end;
}
.twit-menu button {
    border: 0;
    width: 17px;
    height: 15px;
    background: url(../images/btn_dot.svg) no-repeat;
    background-position-y: 5px;

}
.twit-contents {
    grid-area: twit-contents;
    margin-bottom: 1.4rem;
    max-height: 4rem;
    overflow:hidden;
    text-overflow: ellipsis;
    line-height: 1.4rem;
}
.twit-tag {
    grid-area: twit-tag;
    margin-bottom: 0.8rem;
    color: #00CB8C;
}
.twit-tag ul {
    display: flex;
    flex-direction: row;
}
.twit-tag ul li {
    list-style: none;
    margin-right: 0.7rem;
}
.twit-btns {
    grid-area: twit-btns;
    display: flex;
    justify-content: space-between;
}
.twit-btn-like {
    border: 0;
    width: 22px;
    height: 19px;
    background: url(../images/btn_like.svg) no-repeat;
}
.twit-btn-mail {
    border: 0;
    width: 22px;
    height: 17px;
    background: url(../images/btn_mail.svg) no-repeat;
}
.twit-btn-retwit {
    border: 0;
    width: 27px;
    height: 16px;
    background: url(../images/btn_retwit.svg) no-repeat;
}
.twit-btn-comment {
    border: 0;
    width: 18px;
    height: 18px;
    background: url(../images/btn_comment.svg) no-repeat;
}
.twit-btn-report {
    border: 0;
    width: 22px;
    height: 22px;
    background: url(../images/btn_report.svg) no-repeat;
}

/* account */
.account {
    flex: 1; /* 남음 공간을 꽉차게 */
    overflow: auto; /* 트윗에 스크롤 주기 */
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.account h1,
.account-user-info h1,
.join h1 {
    font-size: 0.5rem;
    color: #1d1d1d;
}

/* account-user-info */
.account-user-info {
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.join {
    margin: 0.7rem 1.4rem 1.4rem 1.4rem;
}
.user-info {
    display: grid;
    grid-template-areas:
        "user-info-pic user-info-name user-info-name"
        "user-info-pic user-info-account user-info-account"
        "user-info-pic user-info-follow user-info-follower";
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 40px 20px auto;
    column-gap: 1rem;
}
.user-info-pic {
    grid-area: user-info-pic;
}
.user-info-name {
    grid-area: user-info-name;
    align-self: end;
    font-weight: bold;
}
.user-info-account {
    grid-area: user-info-account;
    align-self: start;
    font-size: 0.85rem;
    margin-top: 0.2rem;
}
.user-info-follow {
    grid-area: user-info-follow;
    margin-top: 0.2rem;
}
.user-info-follower {
    grid-area: user-info-follower;
    margin-top: 0.2rem;
}

/* account-menu */
.account-menu {
    margin: 0 0.7rem;
}
.account-menu li {
    margin: 2.1rem 0 0 1.4rem;
}

/* nav-top */
.nav-top {
    padding: 1rem ;
    border-bottom: 1px solid #E2E2E2;
}
button.back {
    border: 0;
    width: 22px;
    height: 22px;
    background: url(../images/btn_back.svg) no-repeat;
}
