/* reset */
html {
    
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
input {
    margin: 0;
    padding: 0;
    font-size: inherit;
    
}
button {
    margin: 0;
    padding: 0;
    font-size: inherit;
}
textarea {
    padding: 0;
    margin: 0;
    border: 0;
    resize: none;
    color: #1d1d1d;
}
em {
    font-style: normal;
}
p {
    margin: 0;
}
header h1 {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0 -0.7rem 0;
}
select {
    -webkit-appearance:none;
    appearance: none;
    line-height: normal;
    position: relative;
    background-image: url(../images/icon_down.svg);
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    padding: 0.15rem;
    font-size: 0.85rem;
    width: 6rem;
    border: 0;
}
section h1 {
    margin: 2.1rem 0 1.4rem 0;
    font-weight: normal;
}

/* util */
.a-text-button {
    display: block;
    margin: 1.4rem 0;
    font-size: 0.9rem;
    font-weight: normal;
}
.block-input {
    display: block;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    color: inherit;
    padding: 0.7rem 0 0.7rem 0.3rem;
    margin-bottom: 0.7rem;
    width: 100%;
}
.button-primary {
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 20px;
    background: #00CB8C;
    color: #fff;
    font-weight: bold;
    margin: 0.7rem 0;
}
.button-secondary {
    width: 100%;
    height: 38px;
    border: 1px solid #00B8BF;
    border-radius: 20px;
    background: #fff;
    color: #00B8BF;
    font-weight: bold;
    margin: 0.7rem 0;
}
.button-primary-inline {
    border-radius: 30px;
    border: 0;
    background-color: #00EFA5;
    color: #fff;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.button-secondary-inline {
    border-radius: 30px;
    border: 1px solid #00B8BF;
    background-color: #fff;
    color: #00B8BF;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.button-alert-primary-inline {
    border-radius: 30px;
    border: 0;
    background-color: #D51A45;
    color: #fff;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.button-alert-secondary-inline {
    border-radius: 30px;
    border: 1px solid #D51A45;
    background-color: #fff;
    color: #D51A45;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.note {
    color: #a2a2a2;
    font-size: 0.8rem;
}
.no-result {
    font-size: 0.8rem;
    text-align: center;
    color: #A2A2A2;
}

.blank-top {
    margin: 2.1rem 1.4rem 0 1.4rem;
    margin-top: 60px !important;
}
.blank-bottom {
    margin-bottom: 130px !important;
}
.block {
    display: block;
}
.tag {
    color: #00CB8C;
    font-weight: normal;
}
.center {
    display: block;
    text-align: center;
}
.right {
    text-align: right;
}
.block-center {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.margin-section {
    margin: 0.7rem 1.4rem 2.1rem 1.4rem;
}
.scroll {
    overflow: scroll;
}

/* global-menu */
.floating-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu {
    width: 100%;
    background-color: #00EFA5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}
.menu a {
    color: #fff;
}
.notification-number {
    background-color: #fff;
    color: #00EFA5;
    border-radius: 30px;
    display: inline-block;
    padding: 0.3rem;
    margin-left: 0.3rem;
}
.btn-twit-write {
    border: 0;
    height: 48px;
    width: 48px;
    background: url(../images/icon_write.svg) no-repeat 13px 12px;
    position: absolute;
    top: -58px;
    right: 10px;
    border-radius: 100px;
    background-color: #00EFA5;
    box-shadow: 1px 3px 3px 1px rgba(129, 129, 129, 0.4);;
}
.menu-global {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    margin: 0 0.7rem 1rem 0.7rem;
    height: 48px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 1px 3px 3px 1px #ddd;
    padding: 0 0.7rem;
}
.btn-show-menu {
    border: 0;
    height: 22px;
    background: url(../images/btn_global_menu.svg) no-repeat;
    flex-basis: 26px;
    margin-right: 10px;
    margin-left: 6px;
}
input.search  {
    border: 1px solid #00EFA5;
    border-radius: 15px;
    height: 30px;
    box-sizing: border-box;
    padding: 0 1rem;
    color: #a2a2a2;
    width: 100%;
    margin-bottom: 1.4rem;
}
.write {
    border: 0;
    height: 30px;
    background: url(../images/btn_write.svg) no-repeat;
    flex-basis: 30px;
    margin-left: 10px;
}
.font-large {
    font-size: 1.2rem;
}

/* nav-top */
.nav-top {
    position: fixed;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
    width: 100vw;
    background: #fff;
}

button.back {
    border: 0;
    width: 18px;
    height: 18px;
    background: url(../images/btn_back.svg) no-repeat;
    margin-left: 0.3rem;
}


/* menu-sort */
.menu-sort {
    display: flex;
    justify-content: space-evenly;
    margin: auto 1.4rem 0.7rem 1.4rem;
    padding-top: 1.2rem;
    font-size: 0.9rem;
}

/* twit */
.twits {
    margin: 2.1rem 1.4rem 0 1.4rem;
}
.twit, .news {
    margin-bottom: 2.1rem;
}
.twit {
    display: flex;
}
.twit.reply, .news.reply {
    margin-left: 0.7rem;
}
.twit-user-image {
    flex-basis: 45px;
    margin-right: 10px;
}
.twit-contents {
    flex-grow: 1;
}
.twit-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.twit-user-name {
    font-weight: bold;
}
.twit-user-account-name {
    display: inline-block;
    margin-left: 0.4rem;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #a2a2a2;
}
.twit-time {
    display: inline-block;
    flex-grow: 1;
    margin-left: 0.7rem;
    font-size: 0.8rem;
    color: #a2a2a2;
}
.twit-menu-button {
    border: 0;
    /* width: 17px; */
    flex-basis: 17px;
    height: 15px;
    background: url(../images/btn_dot.svg) no-repeat;
    background-position-y: 5px;
}
.twit-article {
    margin-bottom: 0.3rem;
    line-height: 1.4em;
    font-size: 0.95rem;
    color: #555555;
}

.twit-article.shrink{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.twit-link,
.twit-link-with-media {
    margin: 0.7rem 0;
}
.twit-link {
    display: flex;
}
.twit-link img {
    display: block;
    margin-right: 1rem;
    width: 30px;
    height: 30px;
}
.twit-link-text a,
.twit-link-with-media a {
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.2rem
}
.twit-link-text a:last-child {
    font-size: 0.8rem;
}
.twit-link-with-media img {
    width: 100%;
    height: auto;
}
.movie-link {
    position: relative;
}
.movie-link .icon_play_movie {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: auto;
}
.twit-tag {
    margin-bottom: 0.7rem;
    color: #00CB8C;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.twit-tag li {
    margin-right: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
}
.twit-btns {
    display: flex;
    justify-content: space-between;
    margin-top: -0.8rem;
}
.twit-btn-like {
    border: 0;
    width: 22px;
    height: 19px;
    background: url(../images/btn_like.svg) no-repeat;
}
.twit-btn-mail {
    border: 0;
    width: 22px;
    height: 17px;
    background: url(../images/btn_mail.svg) no-repeat;
}
.twit-btn-retwit {
    border: 0;
    width: 27px;
    height: 16px;
    background: url(../images/btn_retwit.svg) no-repeat;
}
.twit-btn-comment {
    border: 0;
    width: 18px;
    height: 18px;
    background: url(../images/btn_comment.svg) no-repeat;
}
.twit-btn-report {
    border: 0;
    width: 22px;
    height: 22px;
    background: url(../images/btn_report.svg) no-repeat;
}

/* account */
.account {
    margin: 0 1.4rem;
}
.account h1{
    margin: 2rem 0 0.3rem 0;
    font-size: 0.7rem;
    color: #1d1d1d;
}


.join {
    margin: 0.7rem 1.4rem 1.4rem 1.4rem;
}
.btn-user-image {
    display: block;
    margin: 1.4rem auto 0.3rem auto;
    border: 0;
    width: 127px;
    height: 127px;
    background: url(../images/btn_user_img_add.svg) no-repeat;
}
.account-user-info {
    display: flex;
    align-items: center;
}
.account-follow-info {
    display: flex;
    align-items: center;
    margin: 1.4rem 0 1.4rem 0;
}
.account-user-info div:nth-child(2) {
    flex-grow: 1;
}
.account-user-header {
    display: flex;
}
.account-user-header button {
    margin-left: auto;
    align-self: flex-start;
}
.account-user-info-image {
    flex-basis: 110px;
}
.account-follow-info-image {
    flex-basis: 70px;
}
.account-user-info-text {
    flex-grow: 1;
}
.account-user-info-name {
    font-weight: bold;
}
.account-user-info-account {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0.3rem 0 0.7rem 0;
}
.account-follow-info-account {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0.3rem 0 0.3rem 0;
}
.account-user-info-follow span {
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.9rem;
}
.account-user-info-follow span em {
    font-weight: bold;
}
.account-follow-info {

}

/* account-menu */
.account-menu {
    margin: 0 0.7rem;
}
.account-menu li {
    margin: 2.1rem 0 0 0;
}

/* stock-info */
.stock-info {
    display: grid;
    grid-template-areas: 
    'stock-header stock-header stock-header stock-header'
    'stock-price stock-price stock-diff stock-diff'
    'stock-graph stock-graph stock-graph stock-graph'
    'stock-detail-link stock-detail-link stock-detail-link stock-detail-link';
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.stock-header {
    grid-area: stock-header;
    display: flex;
    align-items: center;
}
.stock-header button {
    margin-left: auto;
}
.stock-info .up {
    color: #D51A45;
}
.stock-info .up-icon {
    background: url(../images/icon_up.svg) no-repeat;
    padding-left: 18px;
}
.stock-name {
    font-size: 1rem;
}
.stock-twit-count {
    display: inline-block;
    margin-left: 0.7rem;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #A2A2A2;
}
.stock-price {
    grid-area: stock-price;
    font-size: 2rem;
    font-weight: lighter;
    color: #1d1d1d;
}
.stock-diff {
    grid-area: stock-diff;
    align-self: center;
    justify-self: end;
}
.stock-diff span {
    display: inline-block;
}
.stock-diff span:first-child {
    margin-right: 0.7rem;
}
.stock-graph {
    grid-area: stock-graph;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.7rem;
}
.stock-graph>div {
    border: 0;
    padding: 7px 0 6px 0;
    text-align: center;
    color: #fff;
    font-weight: lighter;
}
.stock-graph>.sell {
    background: #D51A45;
    border-radius: 35px 0 0 35px;
}
.stock-graph .neutral {
    background: #00CB8C;
}
.stock-graph .buy {
    background: #179CEF;
    border-radius: 0 35px 35px 0;
}
.stock-detail-link {
    grid-area: stock-detail-link;
    text-align: center;
}
.stock-detail {
    margin: 0.7rem 1.4rem 0 1.4rem;
    border: #eee 1px solid;
    flex: 1;
}
.stock-detail-list {
    display: flex;
    margin: 0 -1px -1px 0;
    overflow: auto;
    flex-wrap: wrap;
    flex-direction: row;
}
.stock-detail-list li {
    flex-basis: 50%;
    justify-content: space-between;
    border-right: 1px #eee solid;
    border-bottom: 1px #eee solid;
    box-sizing: border-box;
    display: flex;
    min-height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.9rem;
}
.stock-detail-list li div {
    color: #a2a2a2;
}
.stock-detail-list li div em {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
}
.stock-detail-list li span {
    color: #1d1d1d;
}


.user-info-writing {
    display: flex;
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.user-info-writing-img {
    flex-basis: 55px;
}
.user-info-writing-name {
    align-self: center;
}
.user-info-writing-name span {
    display: block;
    font-size: 0.85rem;
    color: #a2a2a2;
    margin-top: 0.2rem;
}

.writing {
    margin: 0.7rem 1.4rem 0 1.4rem;
}
.writing form {
}
.writing textarea {
    width: 100%;
    height: 30vh;
    line-height: 1.7rem;
    margin-bottom: 1.4rem;
}

.writing-bottom {
    display: flex;
}
.writing-bottom input {
    width: 100%;
    box-sizing: border-box;
    margin-right: 1rem;
    color: #00CB8C;
    border: 0;
}
.button-upload {
    border: 0;
    width: 20px;
    height: 26px;
    background: url(../images/btn_upload.svg) no-repeat;
}
.writing-tag-em {
    margin: 0.3rem 0 0 0;
    font-size: 0.9rem;
    color: #a2a2a2;

}
.writing-buttons {
    display: flex;
    justify-content: space-between;
}
.writing-buttons button {
    width: 30%;
    height: 38px;
    border-radius: 20px;
    background: #fff;
    font-weight: bold;
    margin-top: 1.4rem;
}

.writing-buttons button.sell {
    border: #179CEF 1px solid;
    color: #179CEF;
}
.writing-buttons button.neutral {
    border: #00CB8C 1px solid;
    color: #00CB8C;
}
.writing-buttons button.buy {
    border: #D51A45 1px solid;
    color: #D51A45;
}
.buttons-em {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: #a2a2a2;
}

/* 트렌드 */
.trend {
    display: flex;
    flex-wrap: nowrap;
}
.trend li {
    flex-basis: 5rem;
    flex-shrink: 0;
    margin-bottom: 0.7rem;
    align-items: center;
    padding: 0.7rem;
    border: #eee 1px solid;
    margin-right: 0.7rem;
}
.trend .rank {
    flex-basis: 1rem;
    color: #1d1d1d;
    font-weight: bolder;
}
.trend .name {
    width: 5rem;
    color: #1d1d1d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.trend .code {
    color: #A2A2A2;
    font-size: 0.8rem;
}
.trend .price {
    margin-top: 0.4rem;
    color: #1d1d1d;
    /* font-weight: bold; */
}
.percent {
    margin-left: 0.7rem;
    flex-basis: 4.5rem;
}
.percent.plus {
    color: #D51A45;
}
.percent.minus {
    color: #179CEF;
}
.trend .percent {
    margin-left: 0;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.opinion {
    margin-left: 0;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.3rem;
}
.opinion.neutral {
    background-color: #00CB8C;
}
.opinion.sell {
    background-color: #179CEF;
}
.opinion.buy {
    background-color: #D51A45;
}

/* favorite */
.favorite-head {
    display: flex;
    align-items: center;
    margin: 2.1rem 0 1.4rem 0;
}
.favorite-head h1 {
    margin: 0;
    flex-basis: content;
}
.favorite-sort {
    margin-left: 0.4rem;
    flex-grow: 1;
}
.favorite-setting {
    font-size: 0.85rem;
    font-weight: normal;
}
.stock-item > li{
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    border-bottom: 1px #eee solid;
    padding-bottom: 0.7rem;
}
.stock-item .name {
    flex-grow: 1;
}
.stock-item .name .code {
    display: block;
    color: #A2A2A2;
    font-size: 0.8rem;
}
.stock-item .price {
    font-weight: bold;
}
.stock-item .price .diff {
    display: block;
    text-align: right;
    font-weight: normal;
    font-size: 0.8rem;
}
.stock-item .price .diff.minus {
    color: #179CEF;
}
.stock-item .price .diff.minus::before {
    content: "-";
}
.stock-item .price .diff.plus {
    color: #D51A45
}
.stock-item .price .diff.plus::before {
    content: "+";
}

/* 800px이상 */
@media all and (min-width: 800px) { 
    body > section {
        max-width: 50vw; /* 가로가 800px이상이면 화면 반만 씀 */
        margin-left: auto !important; /* 가운데 정렬 */
        margin-right: auto !important; /* 가운데 정렬 */
    }
    body > section:first-child {
        margin-top: 43px !important; /* 뒤로돌아가기 버튼 영역만큼 마진 */
    }
    body > section:last-child {
        margin-bottom: 108px !important; /* 아래 내비메뉴만큼 마진 */
    }
    .floating-menu {
        max-width: 50vw; /* 가로가 800px이상이면 화면 반만 씀 */
        margin: 0 auto; /* 가운데 정렬 */
        left: 0; /* 가운데 정렬 */
        right: 0; /* 가운데 정렬 */
    }
}

