html {
    font-size: 90%;
    color: #707070;
    line-height: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
input {
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
}
/* util */

.container {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}

.twits {
    margin: 0.7rem 0.7rem 0 0.7rem;
}

/* global-menu */
.nav-global-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.2rem 0 0 0;
    height: 48px;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 1px 3px 3px 1px #ddd;
    padding: 0 0.5rem;
}

.global-menu {
    border: 0;
    width: 26px;
    height: 22px;
    margin-left: 6px;
    background: url(../images/btn_global_menu.svg) no-repeat;
}
.search {
    border: 1px solid #00EFA5;
    border-radius: 15px;
    height: 30px;
    padding: 0 1rem;
    flex: 1;
    margin: 0 10px;
}
.write {
    border: 0;
    width: 30px;
    height: 30px;
    background: url(../images/btn_write.svg) no-repeat;
}

/* nav-sort */
.nav-sort {
    display: flex;
    justify-content: space-between;
    margin: 0 0.7rem;
}

/* twit */
.twit-grid-container {
    display: grid;
    grid-template-areas:
        "twit-user-image twit-user twit-menu"
        "twit-user-image twit-contents twit-contents"
        "twit-user-image twit-tag twit-tag"
        "twit-user-image twit-btns twit-btns";
    margin-bottom: 2rem;
}
.twit-user-image {
    grid-area: twit-user-image;
    margin-right: 6px;
}
.twit-user {
    grid-area: twit-user;
    margin-bottom: 0.5rem;
}
.twit-user-name {
    font-weight: bold;
}
.twit-time {
    margin-left: 0.5rem;
}
.twit-menu {
    grid-area: twit-menu;
    justify-self: end;
}
.twit-menu button {
    border: 0;
    width: 17px;
    height: 15px;
    background: url(../images/btn_dot.svg) no-repeat;
    background-position-y: 5px;

}
.twit-contents {
    grid-area: twit-contents;
    margin-bottom: 1.4rem;
    max-height: 4rem;
    overflow:hidden;
    text-overflow: ellipsis;
}
.twit-tag {
    grid-area: twit-tag;
    margin-bottom: 0.8rem;
    color: #00CB8C;
}
.twit-tag ul {
    display: flex;
    flex-direction: row;
}
.twit-tag ul li {
    list-style: none;
    margin-right: 0.7rem;
}
.twit-btns {
    grid-area: twit-btns;
    display: flex;
    justify-content: space-between;
}
.twit-btn-like {
    border: 0;
    width: 22px;
    height: 19px;
    background: url(../images/btn_like.svg) no-repeat;
}
.twit-btn-mail {
    border: 0;
    width: 22px;
    height: 17px;
    background: url(../images/btn_mail.svg) no-repeat;
}
.twit-btn-retwit {
    border: 0;
    width: 27px;
    height: 16px;
    background: url(../images/btn_retwit.svg) no-repeat;
}
.twit-btn-comment {
    border: 0;
    width: 18px;
    height: 18px;
    background: url(../images/btn_comment.svg) no-repeat;
}
.twit-btn-report {
    border: 0;
    width: 22px;
    height: 22px;
    background: url(../images/btn_report.svg) no-repeat;
}
